<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.busro.mapper.AnswerMapper">

	<!-- 답변 등록 -->
	<insert id="answerRegister">
		insert into answer(ano, ino, writer, content, regdate) 
		values(seq_answer_ano.nextval, #{ino}, #{writer}, #{content}, sysdate )
	</insert>
	
	<!-- 답변 불러오기(조회) -->
	<select id="answerGet" resultType="org.admin.domain.AnswerVO">
		select * from answer where ino = #{ino}
	</select>
	
	<!-- 답변 유무 체크용 -->
	<select id="checkAnswer" resultType="integer">
		select ano from answer where ino = #{ino}
	</select>
	
	
	<!-- 댓글 삭제용 -->
	<delete id="answerDelete">
	
		delete from answer where ino = #{ino}
		
	</delete>
	
	<update id="updateAnswer">
		update answer set content = #{content}, writer = #{writer} where ino = #{ino} 
	</update>
	
	<select id="answerTotal" resultType="integer">
		select count(*) from answer where ino = #{ino}
	</select>
	
</mapper>