@charset "UTF-8";

table {
	width: 100%;
	border-collapse: collapse;
}
th, td {
	border-bottom: 1px solid #ccc;
	padding: 16px;
	font-size: 16px !important;
	text-align: center;
}
tbody > tr:last-child > td {
	border-bottom:none;
}
thead td {
  	font-size: 30px;
}
tbody td {
	font-size: 20px;
}


/* 클래스, 아이디 지정자 */
#contentWrap{
	width:1080px;
	margin: 0 auto;
	min-height: 60vh;
}

.faqTable{
	margin-top: 52px;
}

.faqTitle{
	padding-top: 100px;
	text-align:center;
	font-size: 20px !important;
}
.searchArea{
	width:100%;
	margin: 0 auto;
	/* height:100px; */
	text-align: center;
}
.searchBtnArea{
	/* width:auto; */
	/* float:left; */
	padding: 30px 0;
	
}

.searchBtnArea button{
	width: 143px;
	height: 74px;
	font-weight: bold;
	font-size: 27px !important;
	margin: 15px 15px auto;
	
	
}


.seekArea{
	margin: 0 auto;
}

#searchForm{
	/* width:auto; */
	/* float:right; */
	padding: 30px 0;
}
.form-control{
	margin: 0 20px;
	border:1px solid black;
	padding: 6px;
	border-radius: 4px;
}

#searchForm select{
	text-align-last: center !important;
}

.answer{
	background-color: cornsilk; 
}
.show{
	display:'';
}
.hide{
	display:none !important;
}
.btnBtn{
	padding: 3px 10px;
	font-size: 14px;
}

/* 검색 전용 버튼 */
.gs{
	padding: 7px 13px;
	font-size: 14px;
}

.down{
	margin: 0 20px;
}
.th1{
	width:80px;
}
.textTd{
	font-size: 16px;
}
.paginate_area{
	text-align: center;
	padding: 10px 0;
}
.paginate_area a{
	font-size: 20px;
}

/* Q, A 꾸미기 */
.initQ{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	position: relative;
	background-color: #050540;
	margin: 0 auto;
	border: 1px solid #050540;
}

.initQ span{
	color: white;
	position: absolute;
	text-align: center;
	width: 30px;
	height: 30px;
	font-size: 17px !important;
	font-weight: bold;
	left: 13%;
	top: 24%;
	
	
}

.initA {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	position: relative;
	background-color: #EF3340;
	margin: 0 auto;
	border: 1px solid #EF3340;
}

.initA span{
	color: white;
	position: absolute;
	text-align: center;
	width: 30px;
	height: 30px;
	font-size: 17px !important;
	font-weight: bold;
	left: 13%;
	top: 24%;
	
	
}

/* 검색 input */


.keyword{
	border-left-width: 0;
	border-right-width: 0;
	border-top-width: 0;
	border-bottom-width: 1px solid #050540;
	outline: none;
}

.keyword:focus{
	writing-mode: horizontal-tb !important;
	border-bottom: 1px solid #26a69a;
}


*:focus{
	
	outline: 0;
}

